<mat-sidenav-container class="sidenav-container">

  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <mat-toolbar-row class="container">
        <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()" *ngIf="isHandset$ | async">
          <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
        </button>
        <span></span>
        <div>
          <a routerLink="/checkout" style="color:#fff !important;">
            <button mat-button>
              <mat-icon matBadge="{{total}}" matBadgeColor="warn">shopping_cart</mat-icon>
            </button>
          </a>
        </div>
      </mat-toolbar-row>
    </mat-toolbar>
  </mat-sidenav-content>
</mat-sidenav-container>