<my-nav></my-nav>

<div class="container mt-5">
  <h3>Checkout</h3>
  <div class="row mt-5">
    <div class="col-md-2">
      <b>Produto</b>
    </div>
    <div class="col-md-4 text-center"></div>
    <div class="col-md-2 ">
      <b>Quantidade</b>
    </div>
    <div class="col-3 ">
      <b>Preço</b>
    </div>
    <div class="col-1"></div>
  </div>

  <div class="row mt-5" *ngFor="let ca of cartpedido.itens">
    <div class="col-md-2">
      <img src="{{ca.produto.img}}" style="height: 100px;" />
    </div>
    <div class="col-md-4 d-flex align-items-center">
      <h5>{{ca.produto.Nome}}</h5>
    </div>
    <div class="col-md-2 d-flex align-items-center">
      <mat-form-field appearance="legacy" class="w-100">
        <mat-label>Quantidade</mat-label>
        <input matInput placeholder="" [(ngModel)]="ca.qtde" type="number" />
      </mat-form-field>
    </div>
    <div class="col-3  d-flex align-items-center ">
      <p class="text-right">R$ {{ca.produto.preco * ca.qtde}}</p>
    </div>
    <div class="col-1 d-flex align-items-center">
      <button mat-raised-button color="warn" (click)="delete(ca)">Delete</button>
    </div>
  </div>
  <div class="row mt-5">
    <div class="col-md-2">
      <a routerLink="/">
        <button mat-raised-button>Continuar comprando</button>
      </a>
    </div>
    <div class="col-md-4 text-center"></div>
    <div class="col-md-2 text-right">
      <b>Total:</b>
    </div>
    <div class="col-3 ">
      <b>R$ {{total}} </b>
    </div>
    <div class="col-1"></div>
  </div>
</div>